---

_java_yum_parent_dir: "/usr/lib/jvm"

#_java_yum_package:
  #8:
    #jre: "java-1.8.0-openjdk"
    #jdk: "java-1.8.0-openjdk-devel"

_java:
  8:
    jre: "java-1.8.0-openjdk"
    jdk: "java-1.8.0-openjdk-devel"
    home_dir: "{{ _java_yum_parent_dir }}/java-1.8.0"
  12:
    targz: "openjdk-12+32_linux-x64_bin.tar.gz"
    url: "https://download.java.net/openjdk/jdk12/ri/openjdk-12+32_linux-x64_bin.tar.gz"
    directory: "jdk-12"
    home_dir: "{{ java_unarchive_dest }}/jdk-12"
  13:
    targz: "openjdk-13.0.1_linux-x64_bin.tar.gz"
    url: "https://download.java.net/java/GA/jdk13.0.1/cec27d702aa74d5a8630c65ae61e4305/9/GPL/openjdk-13.0.1_linux-x64_bin.tar.gz"
    directory: "jdk-13.0.1"
    home_dir: "{{ java_unarchive_dest }}/jdk-13.0.1"
  14:
    targz: "openjdk-14.0.2_linux-x64_bin.tar.gz"
    url: "https://download.java.net/java/GA/jdk14.0.2/205943a0976c4ed48cb16f1043c5c647/12/GPL/openjdk-14.0.2_linux-x64_bin.tar.gz"
    directory: "jdk-14.0.2"
    home_dir: "{{ java_unarchive_dest }}/jdk-14.0.2"
  15:
    targz: "openjdk-15.0.2_linux-x64_bin.tar.gz"
    url: "{{ java_15_alt_url | default('https://download.java.net/java/GA/jdk15.0.2/0d1cfde4252546c6931946de8db48ee2/7/GPL/openjdk-15.0.2_linux-x64_bin.tar.gz') }}"
    directory: "jdk-15.0.2"
    home_dir: "{{ java_unarchive_dest }}/jdk-15.0.2"
  16:
#   targz: "openjdk-16.0.1_linux-x64_bin.tar.gz"
#   url: "{{ java_16_alt_url | default('https://download.java.net/java/GA/jdk16.0.1/7147401fd7354114ac51ef3e1328291f/9/GPL/openjdk-16.0.1_linux-x64_bin.tar.gz') }}"
#   directory: "jdk-16.0.1"
#   home_dir: "{{ java_unarchive_dest }}/jdk-16.0.1"
    targz: "openjdk-16.0.2_linux-x64_bin.tar.gz"
    url: "{{ java_16_alt_url | default('https://download.java.net/java/GA/jdk16.0.2/d4a915d82b4c4fbb9bde534da945d746/7/GPL/openjdk-16.0.2_linux-x64_bin.tar.gz') }}"
    directory: "jdk-16.0.2"
    home_dir: "{{ java_unarchive_dest }}/jdk-16.0.2"
  17:
    targz: "jdk-17.0.2_linux-x64_bin.tar.gz"
    url: "{{ java_17_alt_url | default('https://download.java.net/java/GA/jdk17.0.2/dfd4a8d0985749f896bed50d7138ee7f/8/GPL/openjdk-17.0.2_linux-x64_bin.tar.gz') }}"
    directory: "jdk-17.0.2"
    home_dir: "{{ java_unarchive_dest }}/jdk-17.0.2"
  21:
    targz: "OpenJDK21U-jdk_x64_linux_hotspot_21.0.1_12.tar.gz"
    url: "{{ java_21_alt_url | default('https://github.com/adoptium/temurin21-binaries/releases/download/jdk-21.0.1%2B12/OpenJDK21U-jdk_x64_linux_hotspot_21.0.1_12.tar.gz') }}"
    directory: "jdk-21.0.1+12"
    home_dir: "{{ java_unarchive_dest }}/jdk-21.0.1+12"
  25:
    targz: "OpenJDK25U-jdk_x64_linux_hotspot_25.0.1_8.tar.gz"
    url: "{{ java_25_alt_url | default('https://github.com/adoptium/temurin25-binaries/releases/download/jdk-25.0.1%2B8/OpenJDK25U-jdk_x64_linux_hotspot_25.0.1_8.tar.gz') }}"
    directory: "jdk-25.0.1+8"
    home_dir: "{{ java_unarchive_dest }}/jdk-25.0.1+8"

# Java 6,7,8,11 stuff
java_yum_package: "{{ _java[java_version | int].jre | default([]) }}"
java_jdk_yum_package: "{{ _java[java_version | int].jdk | default([]) }}"

# Java 12,13,14,15,16 stuff
java_archive_filename: "{{ _java[java_version | int].tar.gz | default([]) }}"
java_archive_url: "{{ _java[java_version | int].url | default([]) }}"
java_archive_directory: "{{ _java[java_version | int].directory | default([]) }}"

java_archive_sha256_url: "{% if java_version < 21 %}{{ java_archive_url }}.sha256{% else %}{{ java_archive_url }}.sha256.txt{% endif %}"
java_archive_sha256_value: "{% if java_version < 21 %}{{ lookup('url', java_archive_sha256_url) | default([]) }}{% else %}{{ lookup('url', java_archive_sha256_url).split(' ')[0] }}{% endif %}"

java_home_dir: "{{ _java[java_version | int].home_dir | default([]) }}"
java_bin_dir: "{{ java_home_dir }}/bin"
