#!/usr/bin/env sh

# Set JDK installation directory according to selected Java compiler
export JAVA_HOME="{{ java_home_dir }}"

export PATH="${PATH}:${JAVA_HOME}/bin"

# vim: set filetype=sh tabstop=2 shiftwidth=2 expandtab:
