---

- name: 'Check mandatory variables are defined'
  assert:
    that:
      - local_config_dir is defined
      - stroom_install_root_dir is defined
      - stroom_version is defined
      - stroom_user is defined

- import_role:
    name: non_docker_stroom/download
  tags:
    - deploy

- import_role:
    name: non_docker_stroom/update_config
  tags:
    - deploy
    - configure
