# download_path: "{{ stroom_downloads_path }}"

# Temporary location where the archive files are downloaded to.
# They will not be deleted to save downloding again.
downloads_dir: "/tmp/stroom_downloads"

stroom_archive_filename: "stroom-app-{{ stroom_version }}.zip"
stroom_url: "https://github.com/gchq/stroom/releases/download/{{ stroom_version }}/{{ stroom_archive_filename }}"
