- name: 'Check mandatory variables are defined'
  assert:
    that:
      - local_config_dir is defined
      - stack_env_vars is defined
      - stack_install_root_dir is defined
      - stack_name is defined
      - stack_version is defined
      - stroom_user is defined

- debug:
    msg:
      - "Deploying/configuring stroom-proxy in {{ stack_install_root_dir }} as user {{ stroom_user }}"
  tags:
    - deploy
    - configure

- name: "Block of tasks to run as {{ stroom_user }}"
  become: true
  become_user: "{{ stroom_user }}"
  block:

########### DEPLOY VANILLA REMOTE PROXY STACK  ###########

    - import_role:
        name: stack/download
      tags:
        - deploy

########### UPDATE REMOTE STACK CONFIG  ###########

      # Remove the development certificates
    - import_role:
        name: stack/remove_certs
      tags:
        - remove_dev_certs
        - deploy
        - configure
      when: remove_development_certificates | default(false) == true

    - import_role:
        name: stack/update_config
      tags:
        - deploy
        - configure

