- name: 'Check mandatory variables are defined'
  assert:
    that:
      - downloads_dir | default('') | trim != ''
      - stack_version_base_dir | default('') | trim != ''
      - stack_bin_dir | default('') | trim != ''
      - stack_install_root_dir | default('') | trim != ''
      - stack_name | default('') | trim != ''
      - stack_version | default('') | trim != ''
      - stack_volumes_dir | default('') | trim != ''

- name: Ensure install directory exists
  file:
    path: "{{ stack_install_root_dir }}"
    owner: "{{ stroom_user }}"
    mode: "u=rwX,g=,o="
    state: directory

- name: "See if {{ stack_version_base_dir }} exists"
  stat:
    path: "{{ stack_version_base_dir }}"
  register: _stack_version_base_dir_info

- name: "Download archive {{ _stroom_stack_archive_url }}" 
  when: _stack_version_base_dir_info.stat.exists == false
  include_tasks: download_and_unpack.yml

- name: Ensure we have the correct 'latest' symlink
  file:
    state: link
    force: true
    src: "{{ stack_version }}" # relative to dest
    dest: "{{ _stack_install_latest_link }}" # absolute

