# Define the upstream host(s) that are running stroom
{% for host in groups['stroom_and_proxy'] %}
server {{ hostvars[host]['vagrant_ip_address'] | default(hostvars[host]['inventory_hostname'])}}:<<<STROOM_PORT>>>;
{% endfor %}

