[Unit]
Description=Stroom Proxy {{ stroom_proxy_version }} service
After=syslog.target network.target

[Service]
SuccessExitStatus=143

User={{ stroom_user }}
Group={{ stroom_user }}

Type=simple

Environment="JAVA_HOME={{ java_info[java_version].java_home_dir }}"
WorkingDirectory={{ stroom_proxy_home_dir }}
ExecStart={{ java_info[java_version].java_home_dir }}/bin/java \
-Xms50m -Xmx2g \
--add-opens java.base/java.nio=ALL-UNNAMED \
--add-opens java.base/sun.nio.ch=ALL-UNNAMED \
--add-opens java.base/java.lang=ALL-UNNAMED \
-jar {{ stroom_proxy_home_dir }}/bin/stroom-proxy-app-all.jar \
server {{ stroom_proxy_home_dir }}/config/config.yml
ExecStop=/bin/kill -15 $MAINPID

[Install]
WantedBy=multi-user.target